body{padding:0; }


body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ font-family:"微软雅黑", "Trebuchet MS", Arial, Helvetica, sans-serif; }



.mwguitars{font-size:120%;}



.clr{ clear:both; }



.container-fluid{ padding:0 15px; }







.header-navbar{ background:#910000; border-radius: 0; border: 0px; margin:0; }



	.header-navbar .navbar-toggle { border-color: #560000; }

	.header-navbar .navbar-toggle:hover, .header-navbar .navbar-toggle:focus { background-color: #560000; }

	.header-navbar .navbar-toggle .icon-bar {background-color: #ffffff; }

	

	.header-slogan{ font-size:120%; color:#FFF; }

	@media (min-width: 768px){

	.navbar-nav>li>a {

		padding-top: 18px;

		padding-bottom: 18px;

		}

	.header-slogan {

		min-height:56px;

		line-height:56px;

		margin-left:12px; 

		}

	}

	.hk-navigate{ background:#7a0000; }

	.hk-navigate > li > a{ color: #dec2bc;}

	.hk-navigate > li > a:hover, .hk-navigate > li > a:focus { background-color: #560000; color:#fff; }

	

	.header-main-nav{ }

	.header-main-nav > li > a{ color: #dec2bc; padding-left:20px; padding-right:20px;  }

	.header-main-nav > li > a:hover, .header-main-nav > li > a:focus { background-color: #7a0000; color:#fff; }

	.header-main-nav .open > a, .header-main-nav .open > a:hover, .header-main-nav .open > a:focus { background-color: #7a0000; border-color: #428bca;}





.home-main-area{ position:relative;  }

.home-main-area > .row{ margin:0; }

	

	.home-main-area .home-col{ padding:0; }

	.home-main-area img{ width:100%; }

		

	.homearea-performances{ background:#e49100; position: relative;}

	.homearea-performances img { display:none; }

	

	@media (min-width: 992px){

	.home-main-area{ padding:0; }

		.homearea-performances img{ display:block; }

		.homearea-performances h3{ margin-top:0; padding-top:22px; color:#FFF; text-align:center; }

		.homearea-performances .per-area{ position:absolute; top:0%; left:0%; display:table; height:100%; width:100%; }

			.homearea-performances .per-area .row{ width:90%; padding-top:10%; margin:0 auto; display: table-cell; vertical-align: middle; }

			.homearea-performances dl{ margin-bottom:0; color:#FFF; text-align:center; }

				.homearea-performances dl dt{ padding-bottom:1px; }

				.homearea-performances dl dd{ padding-bottom:1px; }

					.homearea-performances dl dd p{ margin:12px 0; }

					.homearea-performances dl dd p.date{ color:#f4d399;}

	}

	@media (max-width: 992px){

		.homearea-performances h3{ margin-top:0; padding:15px; color:#FFF; }

		.homearea-performances .per-area{ padding: 12px; }

			.homearea-performances .per-area .row{ margin:0; }

			.homearea-performances dl{ margin-bottom:0; color:#FFF; }

				.homearea-performances dl dt{ padding-bottom:1px; }

				.homearea-performances dl dd{ padding-bottom:1px; }

					.homearea-performances dl dd p{ margin:12px 0; }

					.homearea-performances dl dd p.date{ color:#f4d399;}

	}

	@media (min-width: 1200px){

	.home-main-area{ padding:0; }

		.homearea-performances img{ display:block; }

		.homearea-performances h3{ font-size:200%; margin-top:0; margin-bottom:22px; padding-top:12%; color:#FFF; text-align:center; }

		.homearea-performances .per-area{ position:absolute; top:0%; left:0%; display:table; height:100%; width:100%; }

			.homearea-performances .per-area .row{ width:90%; padding-top:10%; margin:0 auto; display: table-cell; vertical-align: middle; }

			.homearea-performances dl{ margin-bottom:0; color:#FFF; text-align:center; }

				.homearea-performances dl dt{ padding-bottom:1px; font-size:150%; font-weight:normal;  }

				.homearea-performances dl dd{ padding-bottom:1px; }

					.homearea-performances dl dd p{ margin:12px 0; }

					.homearea-performances dl dd p.date{ color:#f4d399;}

	}

	.homearea-performances .link-block{display: block; position: absolute; left: 0; top: 0; z-index: 9;width: 100%; height: 100%;text-indent: -9999em;overflow: hidden;cursor: pointer;	}

	

	

	

	

footer.footer-area{ background:#141824;}

	footer.footer-area .footer-box{ padding:0 15px;}

	footer.footer-area .navbar-nav{ margin-top:0; }

	.footer-nav > li > a{ color: #8a8c92;}

	.footer-nav > li > a:hover, .footer-nav > li > a:focus { background-color: #000; color:#fff; }

	footer .copyright-info{ min-height:50px; line-height:50px; color: #8a8c92; }

	

	

	







.brand-main-area{ min-height:750px; }

	.brand-sidebar{ margin:22px 0;}

	

	

	

	

	

	

	
